@import "_reset.scss";
.inner{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}
.inner__svgpic{
    width: 50%;
}
.inner__hints{
    margin: 20px;
}
svg{
    width: 90%;
}
.footer{
    text-align: center;
    margin-top: 30px;
}